#cta{
    padding: 150px 0;
    background-color: $yellow;
    margin-top: 100px;
    position: relative;

    .title{
        color: $black;
    }

    .button{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        .black{
            font-size: 23px;
        }
    }
}